html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.grid > div {
  margin: 0px auto;
  position: relative;
}